.pro-table th,
.pro-table td {
    background-color: #f2f2f2 !important; 
    font-weight: normal !important;   
    color: #6c757d !important; 
}
.fa-filter {
  font-size: 0.7rem;     
  vertical-align: middle; 
  color: #6c757d;         
  margin-left: 18px;    
}
.custom-modal {
  max-width: 90% !important; 
  width: 80% !important;
  
}

.custom-modal .modal-content {
  border-radius: 12px;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
 


 .add-item {
  max-width: 90% !important;
  width: 90% !important;
  height: 90vh !important;
  margin: auto;
  border-radius: 12px;
}

.add-item .modal-content {
  border-radius: 12px;
  padding: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.add-item .modal-body {
  flex: 1;
  overflow-y: auto;
  padding: 20px 24px;
  max-height: calc(90vh - 120px);
}


.white-input {
  background-color: #fff !important;
  border: 1px solid #ddd;
}

.code-input {
  background-color: #f8f9fa !important;
}


.row + .row {
  margin-top: 3rem !important;
}


.mb-4 {
  margin-bottom: 3rem !important;
}


.add-item .card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}
/* 
.unit-modal .modal-dialog {
  max-width: 90% !important;  
  margin: 50px auto;   
         
} */

.modal-footer{
  border-top:transparent;

}


.unit-modal .modal-footer {
  justify-content: flex-end;
  
  gap: 10px;
}
.modal {
  --bs-modal-width: 90%; /* your desired width */
            background-color:grey;
}

.unit-modal .modal-footer .btn {
  background-color: #4a93dcff !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px;
  border-radius: 6px;
}




/* .square-modal .modal-content {
  border-radius: 8px;
  max-width: 700px;
 height:40vh;
 
}

.square-modal .modal-header {
  border-bottom: none;
}

.square-modal .modal-footer {
  border-top: none;
} */
/* Transparent full-screen backdrop */
.transparent-backdrop {
  background-color: transparent !important;
}

/* Centered modal with fixed size */
.square-modal .modal-dialog {
  max-width: 700px;
  width: 80%;
  
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.square-modal .modal-content {
  border-radius: 8px;
}

.square-modal .modal-header {
  border-bottom: none;
}

.square-modal .modal-footer {
  border-top: none;
}
