/* 
.party-left-card {
  height: 80vh; 
  overflow-y: auto;
}


.party-right-card {
  height: 80vh;
  overflow-y: auto;
  border-left: 5px solid #cce7f3;
  padding-left: 20px;
}


.header-buttons .btn {
  min-width: 120px;
}


.party-list-item:hover {
  background-color: #f1f5f9;
  cursor: pointer;
}


.party-list-item.active {
  background-color: #d7ecff;
} */
/* Override Bootstrap table background */

/* card-like structure */
.main-card {
  border: 5px solid #cce7f3;
  border-top: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: white;
  overflow: hidden;
}

/* card header */
/* .card-header-custom {
  border-bottom: 5px solid #cce7f3;
  background-color: #ffffff;
  border-radius: 12px 12px 0 0;
}

/* inner cards like left list and right details */
/* .inner-card {
  border: 3px solid #cce7f3;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08);
  margin: 15px;
  padding: 10px;
}  */
